/configuration.php
/robots.txt
/.idea
/cache/*
/logs/*
/tmp/*
/administrator/cache/*
/t3-assets/*
/media/crowdfunding/*
/images/crowdfunding/*

!/cache/index.html
!/logs/index.html
!/tmp/index.html
!/administrator/cache/index.html
!/t3-assets/index.html
!/media/crowdfunding/index.html
!/images/crowdfunding/index.html
